
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <title>QueryBreakagePage</title>

    <style>
        #btn1 {
            outline: none;
        }
    </style>

</head>
<body>
    <div class="container">
        <div class="row" style="margin-top:10px; margin-left:-92px; width:1126px; border:0px solid black;background-color:#37435c;border-radius:2px;">
            <div class="col-md-8">
                @*<label class="control-label">入库管理</label>*@
                <h5 style="font-size:15px;font-weight:bold;color:white">报损管理</h5>
            </div>
        </div>
        <div class="row" style="margin-left:-92px;  border:0px solid black;width:1126px;background-color:#f5f8f8">
            <div class="col-md-5 form-group form-inline" style="margin-top:15px; ">
                <button type="button" id="btn1" class="btn btn-group">所有</button>
                <button type="button" id="btn2" class="btn btn-group">待审核</button>
                <button type="button" id="btn3" class="btn btn-group">审核通过</button>
                <button type="button" id="btn4" class="btn btn-group">审核失败</button>
            </div>
            <div class="col-md-3 form-group form-inline" style="margin-top:15px;float:right;margin-right:-58px;">
                <a href="@Url.Action("QueryBreakageAdd")" class="btn btn-primary">新增报损</a>
                <button type="button" class="btn btn-info" id="dt">导出</button>
            </div>
            <div class="row">
                <div class="col-md-3 form-group form-inline " style="margin-top:83px;margin-left:-470px;">
                    <input type="text" id="DH" class="form-control" placeholder="请输入报损单号" />
                </div>
                <div class="col-md-7 form-group form-inline" style="margin-top:19px;">
                    <label class="control-label" style="margin-left:-20px;">时间</label> &nbsp;<input type="date" id="SJ1" class="form-control" style="width:150px;" />&nbsp;-&nbsp;<input type="date" id="SJ2" class="form-control" style="width:150px;" />&nbsp;&nbsp;<button id="ss" type="button" class="btn btn-info">搜索</button>
                </div>
            </div>

            <div class="row" style="margin-top:25px;">
                <table class="table table-bordered table-hover table-responsive" style=" width:1043px;margin-left:28px; border:1px solid #e07a7a;">
                    <thead>
                        <tr style="font-weight:bold;">
                            <td>单据编号</td>
                            <td>报损类型</td>
                            <td>客户名称</td>
                            <td>报损产品</td>
                            <td>报损数量</td>
                            <td>状态</td>
                            <td>创建人</td>
                            <td>创建时间</td>
                            <td>操作</td>
                        </tr>
                    </thead>
                    <tbody>
                        @*<tr>
                                <td>单据编号1</td>
                                <td>报损类型1</td>
                                <td>客户名称1</td>
                                <td>报损数量1</td>
                                <td>状态1</td>
                                <td>创建人1</td>
                                <td>创建时间1</td>
                                <td>
                                    <a id="UpdateBaoSun" href="#"><span class="glyphicon glyphicon-edit"></span></a>&nbsp;&nbsp;
                                <a href="#"><span style="color:red" class="glyphicon glyphicon-trash"></span></a>&nbsp;&nbsp;
                                <a id="BSD" href="#"><span class="glyphicon glyphicon-eye-open"></span></a>&nbsp;&nbsp;&nbsp;<a href="#"><span class="glyphicon glyphicon-thumbs-up"></span></a>&nbsp;&nbsp;&nbsp;<a href="#"><span class="glyphicon glyphicon-thumbs-down"></span></a></td>
                            </tr>*@
                    </tbody>
                </table>
            </div>
            <div class="row form-inline form-group text-center" style="margin-top:30px;margin-right:30px;">
                <button class="btn btn-primary" type="button" id="btnFirst">首页</button>
                <button class="btn btn-primary" type="button" id="btnUp">上一页</button>
                <input style="width:70px" class="form-control" type="text" id="txtPageIndex" />
                <button class="btn btn-primary" type="button" id="btnGo">Go</button>
                <button class="btn btn-primary" type="button" id="btnNext">下一页</button>
                <button class="btn btn-primary" type="button" id="btnLast">尾页</button>
                <label id="lbMsg" class="control-label"></label>
            </div>
        </div>
    </div>


    @*修改*@
    <div class="modal fade" id="myModal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div id="div1" class="modal-dialog" role="document" style="margin:0px auto; width:900px;height:300px;">
            <div class="modal-content">
                <div class="modal-header" style="color:white; border:0px solid black ;height:50px;background-color:#37435c">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">编辑报损单</h4>
                </div>
                <div class="container" style="height:300px;">

                    <div style="border:1px solid #d4cdcd;width:855px;height:100px;margin:0px auto;margin-top:5px;border-radius:10px;">
                        <div class="row" style="margin-top:10px;">
                            <div class="col-md-3">
                                <label class="control-label">id</label><input type="text" class="form-control" id="BGLid" />
                            </div>
                            <div class="col-md-3">
                                <label class="control-label">报损单编号</label><input type="text" class="form-control" id="dj" />
                            </div>
                            <div class=" col-md-3">
                                <label class="control-label">报损类型</label> @Html.DropDownList("StStorageDJType", null, htmlAttributes: new { @class = "form-control", @style = "width:200px;" })
                            </div>
                            <div class=" col-md-3">
                                <label class="control-label">选择报损产品</label> @Html.DropDownList("ProductGLType", null, htmlAttributes: new { @class = "form-control", @style = "width:200px;" })
                            </div>
                            <div class=" col-md-2 form-inline">
                                <label class="control-label">报损数量</label><input type="text" class="form-control" id="sl" />
                            </div>
                            <div class=" col-md-3 form-inline">
                                <label class="control-label">选择客户名称</label> @Html.DropDownList("ClientType", null, htmlAttributes: new { @class = "form-control", @style = "width:200px;" })
                            </div>
                            <div class="col-md-3">
                                <label class="control-label">制单时间</label><input type="date" class="form-control" value="administrator" id="sj" />
                            </div>
                            <div class="col-md-3">
                                <label class="control-label">制单人</label><input type="text" class="form-control" id="zdr" />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="btnbc">确定</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">取消</button>
                </div>
            </div>
        </div>
    </div>



</body>
</html>
<script type="text/javascript">
    
    var pageIndexValue = 1;
    var id = null;
    var ClientTypevalue = null;
    var ProductGLType = null;
    $(function () {

        var at = null;

        $("#btnFirst").click(function () {
            pageIndexValue = 1;
            BingData();
        });
        $("#btnUp").click(function () {
            pageIndexValue = pageIndexValue - 1;
            BingData();
        });
        $("#btnGo").click(function () {
            pageIndexValue = $("#txtPageIndex").val();
            BingData();
        });
        $("#btnNext").click(function () {
            pageIndexValue = pageIndexValue + 1;
            BingData();
        });
        $("#btnLast").click(function () {
            pageIndexValue = 99999;
            BingData();
        });

        $("#div1").hide();

        BingData();
        $("#btn2").click(function () {
            bt();
        })
        $("#btn1").click(function () {
            BingData();
        })
        $("#btn3").click(function () {
            bt2();
        })
        $("#btn4").click(function () {
            bt1();
        })
        $("#ss").click(function () {
            SSData();
        })
        
        $("#ClientType").change(function () {
            ClientTypevalue = $(this).find("option:selected").text();
        });
        $("#ProductGLType").change(function () {
            ProductGLType = $(this).find("option:selected").text();
        });
        $("#btnbc").click(function () {
            BingUpdate();
        });

    })
    //修改
    function BingUpdate() {
        var BGLidValue = $("#BGLid").val();
        var dj = $("#dj").val();
        var StStorageDJType = $("#StStorageDJType").val();

        var sl = $("#sl").val();
        var sj = $("#sj").val();
        var zdr = $("#zdr").val();
        $.ajax({
            url: "@Url.Action("UpdateBreakagePage")",
            data: { BGLid: BGLidValue, Standby3: dj, BreakageType: StStorageDJType, PreparedMan: ClientTypevalue, Standby4: ProductGLType, PreparedCount: sl, CreationMan: zdr, CreationTime: sj },
            dataType: "json",
            type: "post",
            success: function (result) {
                alert(result.Msg);
                BingData();
            }
        })
    }
    function UpdateData() {
        $("#myModal").modal();
        $("#div1").show();
        $.ajax({
            url: "@Url.Action("Data")",
            data: { BGLid: id },
            dataType: "json",
            type: "get",
            success: function (result) {
                $.each(result.data, function (index, value) {
                    $("#BGLid").val(value.BGLid);
                    $("#dj").val(value.Standby3);
                    $("#StStorageDJType").val(value.BreakageType);
                    $("#sl").val(value.PreparedCount);
                    $("#sj").val(value.CreationTime);
                    $("#zdr").val(value.CreationMan);
                    $("#ClientType").find("option:selected").text(value.PreparedMan);
                    $("#ProductGLType").find("option:selected").text(value.Standby4);
                }

                )
            }
        });
    }
    function SSData() {

        var StartValue = $("#SJ1").val();
        var EndValue = $("#SJ2").val();
        var Standby3Value = $("#DH").val();
        $.ajax({
            url: "@Url.Action("GetBreakageSS")",
            data: { Start: StartValue, End: EndValue, pageIndex: pageIndexValue, Standby3: Standby3Value },
            dataType: "json",
            type: "get",
            success: function (result) {
                $("table tr:gt(0)").remove();
                var a = null;
                var b = null;
                id = null;
                $.each(result.Breakage1, function (index, value) {

                    at = value.BreakageGLAduitState;

                    id = value.BGLid;
                    $("#lbMsg").html("当前第 " + result.PageIndex
                    + "/" + result.Count + " 总计" + result.PageCount + "条")
                    $("#textPageIndex").val(result.PageIndex);
                    pageIndexValue = result.PageIndex;
                    var str = "<tr id=\"t\">";
                    str += "<td  style=\"display:none\">" + value.BGLid + "</td>";
                    str += "<td>" + value.Standby3 + "</td>";
                    if (value.BreakageType == 17) {
                        b = "损坏报损";
                    } else if (value.BreakageType == 18) {
                        b = "丢失报损";
                    }
                    str += "<td>" + b + "</td>";

                    str += "<td>" + value.PreparedMan + "</td>"; str += "<td>" + value.Standby4 + "</td>";

                    str += "<td>" + value.PreparedCount + "</td>";

                    if (value.BreakageGLAduitState == 1) {
                        a = "通过";
                    } else if (value.BreakageGLAduitState == 2) {
                        a = "未通过";
                    } else if (value.BreakageGLAduitState == 3) {
                        a = "审核中";
                    }
                    str += "<td>" + a + "</td>";
                    str += "<td>" + value.CreationMan + "</td>";
                    str += "<td>" + value.CreationTime + "</td>";
                    if (value.BreakageGLAduitState == 1) {
                        str += "<td><a id=\"UpdateBaoSun\" onclick=\"UpdateData()\" onclick=\"Update()\" href=\"#\"><span class=\"glyphicon glyphicon-edit\"></span></a>&nbsp;&nbsp;<a id=\"Dele\" href=\"#\"><span style=\"color:red\" class=\"glyphicon glyphicon-trash\" onclick=\"Dele()\"></span></a>&nbsp;&nbsp; <a href=\"#\" onclick=\"Update2()\"><span class=\"glyphicon glyphicon-thumbs-down\"></span></a></td>";
                    } else if (value.BreakageGLAduitState == 2) {
                        str += "<td><a id=\"UpdateBaoSun\" onclick=\"UpdateData()\" href=\"#\"><span class=\"glyphicon glyphicon-edit\"></span></a>&nbsp;&nbsp;<a id=\"Dele\" href=\"#\"><span style=\"color:red\" class=\"glyphicon glyphicon-trash\" onclick=\"Dele()\"></span></a>&nbsp;&nbsp; &nbsp;<a href=\"#\" onclick=\"Update()\"><span class=\"glyphicon glyphicon-thumbs-up\"></span></a>&nbsp;&nbsp;&nbsp;</td>";
                    } else {
                        str += "<td><a id=\"UpdateBaoSun\" onclick=\"UpdateData()\" href=\"#\"><span class=\"glyphicon glyphicon-edit\"></span></a>&nbsp;&nbsp;<a id=\"Dele\" href=\"#\"><span style=\"color:red\" class=\"glyphicon glyphicon-trash\" onclick=\"Dele()\"></span></a>&nbsp;&nbsp; &nbsp;<a href=\"#\" onclick=\"Update()\"><span class=\"glyphicon glyphicon-thumbs-up\"></span></a>&nbsp;&nbsp;&nbsp;<a href=\"#\" onclick=\"Update2()\"><span class=\"glyphicon glyphicon-thumbs-down\"></span></a></td>";
                    }
                    str += "</tr>";
                    $("table tbody").append(str);
                })
            }
        })
    }
    function Dele() {
        $.ajax({
            url: "@Url.Action("BreakageDele")",
            data: { BGLid: id },
            dataType: "json",
            type: "post",
            success: function () {
                if (confirm("确认删除吗?")) {
                    BingData();
                    alert("删除成功");
                }

            }
        })
    };
    function Update() {
        $.ajax({
            url: "@Url.Action("BreakageUp")",
            data: { BGLid: id, State: 1 },
            dataType: "json",
            type: "post",
            success: function () {
                //alert(value.BreakageGLAduitStat);
                if (confirm("确认审核吗?")) {
                    BingData();
                    alert("审核成功");
                }

            }
        })
    };
    function Update2() {
        $.ajax({
            url: "@Url.Action("BreakageUp")",
            data: { BGLid: id, State: 2 },
            dataType: "json",
            type: "post",
            success: function () {
                alert(id);
                if (confirm("确认审核吗?")) {
                    BingData();
                    alert("审核成功");
                }

            }
        })
    };
    function bt() {

        $.ajax({
            url: "@Url.Action("GetBreakageData")",
            data: { BreakageGLAduitState: 3, pageIndex: pageIndexValue },
            dataType: "json",
            type: "get",
            success: function (result) {
                $("table tr:gt(0)").remove();
                var a = null;
                var b = null; id = null;
                $.each(result.Breakage, function (index, value) {
                    id = value.BGLid; at = value.BreakageGLAduitState;
                    $("#lbMsg").html("当前第 " + result.PageIndex
                    + "/" + result.Count + " 总计" + result.PageCount + "条")
                    $("#textPageIndex").val(result.PageIndex);
                    pageIndexValue = result.PageIndex;
                    var str = "<tr id=\"t\">";
                    str += "<td  style=\"display:none\">" + value.BGLid + "</td>";

                    str += "<td>" + value.Standby3 + "</td>";
                    if (value.BreakageType == 17) {
                        b = "损坏报损";
                    } else if (value.BreakageType == 18) {
                        b = "丢失报损";
                    }
                    str += "<td>" + b + "</td>";

                    str += "<td>" + value.PreparedMan + "</td>"; str += "<td>" + value.Standby4 + "</td>";
                    str += "<td>" + value.PreparedCount + "</td>";

                    if (value.BreakageGLAduitState == 1) {
                        a = "通过";
                    } else if (value.BreakageGLAduitState == 2) {
                        a = "未通过";
                    } else if (value.BreakageGLAduitState == 3) {
                        a = "审核中";
                    }
                    str += "<td>" + a + "</td>";
                    str += "<td>" + value.CreationMan + "</td>";
                    str += "<td>" + value.CreationTime + "</td>";
                    if (value.BreakageGLAduitState == 1) {
                        str += "<td><a id=\"UpdateBaoSun\" onclick=\"UpdateData()\" href=\"#\"><span class=\"glyphicon glyphicon-edit\"></span></a>&nbsp;&nbsp;<a id=\"Dele\" href=\"#\"><span style=\"color:red\" class=\"glyphicon glyphicon-trash\" onclick=\"Dele()\"></span></a>&nbsp;&nbsp; <a href=\"#\" onclick=\"Update2()\"><span class=\"glyphicon glyphicon-thumbs-down\"></span></a></td>";
                    } else if (value.BreakageGLAduitState == 2) {
                        str += "<td><a id=\"UpdateBaoSun\" onclick=\"UpdateData()\" href=\"#\"><span class=\"glyphicon glyphicon-edit\"></span></a>&nbsp;&nbsp;<a id=\"Dele\" href=\"#\"><span style=\"color:red\" class=\"glyphicon glyphicon-trash\" onclick=\"Dele()\"></span></a>&nbsp;&nbsp; &nbsp;<a href=\"#\" onclick=\"Update()\"><span class=\"glyphicon glyphicon-thumbs-up\"></span></a>&nbsp;&nbsp;&nbsp;</td>";
                    } else {
                        str += "<td><a id=\"UpdateBaoSun\" onclick=\"UpdateData()\" href=\"#\"><span class=\"glyphicon glyphicon-edit\"></span></a>&nbsp;&nbsp;<a id=\"Dele\" href=\"#\"><span style=\"color:red\" class=\"glyphicon glyphicon-trash\" onclick=\"Dele()\"></span></a>&nbsp;&nbsp; &nbsp;<a href=\"#\" onclick=\"Update()\"><span class=\"glyphicon glyphicon-thumbs-up\"></span></a>&nbsp;&nbsp;&nbsp;<a href=\"#\" onclick=\"Update2()\"><span class=\"glyphicon glyphicon-thumbs-down\"></span></a></td>";
                    }
                    str += "</tr>";
                    $("table tbody").append(str);
                })
            }
        })
    }
    function bt1() {
        $.ajax({
            url: "@Url.Action("GetBreakageData3")",
            data: { BreakageGLAduitState: 1, pageIndex: pageIndexValue },
            dataType: "json",
            type: "get",
            success: function (result) {
                $("table tr:gt(0)").remove();
                var a = null;
                var b = null; id = null;
                $.each(result.Breakage, function (index, value) {
                    id = value.BGLid; at = value.BreakageGLAduitState;
                    $("#lbMsg").html("当前第 " + result.PageIndex
                    + "/" + result.Count + " 总计" + result.PageCount + "条")
                    $("#textPageIndex").val(result.PageIndex);
                    pageIndexValue = result.PageIndex; var str = "<tr id=\"t\">"; str += "<td  style=\"display:none\">" + value.BGLid + "</td>";

                    str += "<td>" + value.Standby3 + "</td>";
                    if (value.BreakageType == 17) {
                        b = "损坏报损";
                    } else if (value.BreakageType == 18) {
                        b = "丢失报损";
                    }
                    str += "<td>" + b + "</td>";

                    str += "<td>" + value.PreparedMan + "</td>"; str += "<td>" + value.Standby4 + "</td>";
                    str += "<td>" + value.PreparedCount + "</td>";

                    if (value.BreakageGLAduitState == 1) {
                        a = "通过";
                    } else if (value.BreakageGLAduitState == 2) {
                        a = "未通过";
                    } else if (value.BreakageGLAduitState == 3) {
                        a = "审核中";
                    }
                    str += "<td>" + a + "</td>";
                    str += "<td>" + value.CreationMan + "</td>";
                    str += "<td>" + value.CreationTime + "</td>";
                    if (value.BreakageGLAduitState == 1) {
                        str += "<td><a id=\"UpdateBaoSun\" onclick=\"UpdateData()\" href=\"#\"><span class=\"glyphicon glyphicon-edit\"></span></a>&nbsp;&nbsp;<a id=\"Dele\" href=\"#\"><span style=\"color:red\" class=\"glyphicon glyphicon-trash\" onclick=\"Dele()\"></span></a>&nbsp;&nbsp; <a href=\"#\" onclick=\"Update2()\"><span class=\"glyphicon glyphicon-thumbs-down\"></span></a></td>";
                    } else if (value.BreakageGLAduitState == 2) {
                        str += "<td><a id=\"UpdateBaoSun\" onclick=\"UpdateData()\" href=\"#\"><span class=\"glyphicon glyphicon-edit\"></span></a>&nbsp;&nbsp;<a id=\"Dele\" href=\"#\"><span style=\"color:red\" class=\"glyphicon glyphicon-trash\" onclick=\"Dele()\"></span></a>&nbsp;&nbsp; &nbsp;<a href=\"#\" onclick=\"Update()\"><span class=\"glyphicon glyphicon-thumbs-up\"></span></a>&nbsp;&nbsp;&nbsp;</td>";
                    } else {
                        str += "<td><a id=\"UpdateBaoSun\" onclick=\"UpdateData()\" href=\"#\"><span class=\"glyphicon glyphicon-edit\"></span></a>&nbsp;&nbsp;<a id=\"Dele\" href=\"#\"><span style=\"color:red\" class=\"glyphicon glyphicon-trash\" onclick=\"Dele()\"></span></a>&nbsp;&nbsp; &nbsp;<a href=\"#\" onclick=\"Update()\"><span class=\"glyphicon glyphicon-thumbs-up\"></span></a>&nbsp;&nbsp;&nbsp;<a href=\"#\" onclick=\"Update2()\"><span class=\"glyphicon glyphicon-thumbs-down\"></span></a></td>";
                    }
                    str += "</tr>";
                    $("table tbody").append(str);
                })
            }
        })
    }
    function bt2() {
        $.ajax({
            url: "@Url.Action("GetBreakageData2")",
            data: { BreakageGLAduitState: 2, pageIndex: pageIndexValue },
            dataType: "json",
            type: "get",
            success: function (result) {
                $("table tr:gt(0)").remove();
                var a = null;
                var b = null; id = null;
                $.each(result.Breakage, function (index, value) {
                    id = value.BGLid; at = value.BreakageGLAduitState;
                    $("#lbMsg").html("当前第 " + result.PageIndex
                     + "/" + result.Count + " 总计" + result.PageCount + "条")
                    $("#textPageIndex").val(result.PageIndex);
                    pageIndexValue = result.PageIndex; var str = "<tr id=\"t\">"; str += "<td  style=\"display:none\">" + value.BGLid + "</td>";

                    str += "<td>" + value.Standby3 + "</td>";
                    if (value.BreakageType == 17) {
                        b = "损坏报损";
                    } else if (value.BreakageType == 18) {
                        b = "丢失报损";
                    }
                    str += "<td>" + b + "</td>";

                    str += "<td>" + value.PreparedMan + "</td>"; str += "<td>" + value.Standby4 + "</td>";
                    str += "<td>" + value.PreparedCount + "</td>";

                    if (value.BreakageGLAduitState == 1) {
                        a = "通过";
                    } else if (value.BreakageGLAduitState == 2) {
                        a = "未通过";
                    } else if (value.BreakageGLAduitState == 3) {
                        a = "审核中";
                    }
                    str += "<td>" + a + "</td>";
                    str += "<td>" + value.CreationMan + "</td>";
                    str += "<td>" + value.CreationTime + "</td>";
                    if (value.BreakageGLAduitState == 1) {
                        str += "<td><a id=\"UpdateBaoSun\" onclick=\"UpdateData()\" href=\"#\"><span class=\"glyphicon glyphicon-edit\"></span></a>&nbsp;&nbsp;<a id=\"Dele\" href=\"#\"><span style=\"color:red\" class=\"glyphicon glyphicon-trash\" onclick=\"Dele()\"></span></a>&nbsp;&nbsp; <a href=\"#\" onclick=\"Update2()\"><span class=\"glyphicon glyphicon-thumbs-down\"></span></a></td>";
                    } else if (value.BreakageGLAduitState == 2) {
                        str += "<td><a id=\"UpdateBaoSun\" onclick=\"UpdateData()\" href=\"#\"><span class=\"glyphicon glyphicon-edit\"></span></a>&nbsp;&nbsp;<a id=\"Dele\" href=\"#\"><span style=\"color:red\" class=\"glyphicon glyphicon-trash\" onclick=\"Dele()\"></span></a>&nbsp;&nbsp; &nbsp;<a href=\"#\" onclick=\"Update()\"><span class=\"glyphicon glyphicon-thumbs-up\"></span></a>&nbsp;&nbsp;&nbsp;</td>";
                    } else {
                        str += "<td><a id=\"UpdateBaoSun\" onclick=\"UpdateData()\" href=\"#\"><span class=\"glyphicon glyphicon-edit\"></span></a>&nbsp;&nbsp;<a id=\"Dele\" href=\"#\"><span style=\"color:red\" class=\"glyphicon glyphicon-trash\" onclick=\"Dele()\"></span></a>&nbsp;&nbsp; &nbsp;<a href=\"#\" onclick=\"Update()\"><span class=\"glyphicon glyphicon-thumbs-up\"></span></a>&nbsp;&nbsp;&nbsp;<a href=\"#\" onclick=\"Update2()\"><span class=\"glyphicon glyphicon-thumbs-down\"></span></a></td>";
                    }
                    str += "</tr>";
                    $("table tbody").append(str);
                })
            }
        })
    }
    //入库单加载数据
    function BingData() {
        //取值
        var Standby3Value = $("[name=Standby3]").val();
        var StartValue = $("[name=Start]").val();
        var EndValue = $("[name=End]").val();

        $.ajax({
            url: "@Url.Action("GetBreakageGL")",
            data: { pageIndex: pageIndexValue },
            dataType: "json",
            type: "get",
            success: function (result) {
                $("table tr:gt(0)").remove();
                var a = null;
                var b = null; id = null;
                $.each(result.Breakage, function (index, value) {
                    $("#lbMsg").html("当前第 " + result.PageIndex
                    + "/" + result.Count + " 总计" + result.PageCount + "条")
                    $("#textPageIndex").val(result.PageIndex);
                    pageIndexValue = result.PageIndex; var str = "<tr id=\"t\">"; str += "<td  style=\"display:none\">" + value.BGLid + "</td>";
                    id = value.BGLid; at = value.BreakageGLAduitState;

                    str += "<td>" + value.Standby3 + "</td>";
                    if (value.BreakageType == 17) {
                        b = "损坏报损";
                    } else if (value.BreakageType == 18) {
                        b = "丢失报损";
                    }
                    str += "<td>" + b + "</td>";

                    str += "<td>" + value.PreparedMan + "</td>"; str += "<td>" + value.Standby4 + "</td>";
                    str += "<td>" + value.PreparedCount + "</td>";

                    if (value.BreakageGLAduitState == 1) {
                        a = "通过";
                    } else if (value.BreakageGLAduitState == 2) {
                        a = "未通过";
                    } else if (value.BreakageGLAduitState == 3) {
                        a = "审核中";
                    }
                    str += "<td>" + a + "</td>";
                    str += "<td>" + value.CreationMan + "</td>";
                    str += "<td>" + value.CreationTime + "</td>";
                    if (value.BreakageGLAduitState == 1) {
                        str += "<td><a id=\"UpdateBaoSun\" onclick=\"UpdateData()\" href=\"#\"><span class=\"glyphicon glyphicon-edit\"></span></a>&nbsp;&nbsp;<a id=\"Dele\" href=\"#\"><span style=\"color:red\" class=\"glyphicon glyphicon-trash\" onclick=\"Dele()\"></span></a>&nbsp;&nbsp; <a href=\"#\" onclick=\"Update2()\"><span class=\"glyphicon glyphicon-thumbs-down\"></span></a></td>";
                    } else if (value.BreakageGLAduitState == 2) {
                        str += "<td><a id=\"UpdateBaoSun\" onclick=\"UpdateData()\" href=\"#\"><span class=\"glyphicon glyphicon-edit\"></span></a>&nbsp;&nbsp;<a id=\"Dele\" href=\"#\"><span style=\"color:red\" class=\"glyphicon glyphicon-trash\" onclick=\"Dele()\"></span></a>&nbsp;&nbsp; &nbsp;<a href=\"#\" onclick=\"Update()\"><span class=\"glyphicon glyphicon-thumbs-up\"></span></a>&nbsp;&nbsp;&nbsp;</td>";
                    } else if (value.BreakageGLAduitState == 3) {
                        str += "<td><a id=\"UpdateBaoSun\" onclick=\"UpdateData()\" href=\"#\"><span class=\"glyphicon glyphicon-edit\"></span></a>&nbsp;&nbsp;<a id=\"Dele\" href=\"#\"><span style=\"color:red\" class=\"glyphicon glyphicon-trash\" onclick=\"Dele()\"></span></a>&nbsp;&nbsp; &nbsp;<a href=\"#\" onclick=\"Update()\"><span class=\"glyphicon glyphicon-thumbs-up\"></span></a>&nbsp;&nbsp;&nbsp;<a href=\"#\" onclick=\"Update2()\"><span class=\"glyphicon glyphicon-thumbs-down\"></span></a></td>";
                    }
                    str += "</tr>";
                    $("table tbody").append(str);
                })
            }
        })
    }

</script>