
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />

    <title>QueryStorage</title>
    <style>
        #btn1 {
            outline: none;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="row" style="margin-top:10px; margin-left:-92px; width:1126px; border:0px solid black;background-color:#37435c;border-radius:2px;">
            <div class="col-md-8">
                @*<label class="control-label">入库管理</label>*@
                <h5 style="font-size:15px;font-weight:bold;color:white">入库管理</h5>
            </div>
        </div>
        <div class="row" style="margin-left:-92px;  border:0px solid black;width:1126px;background-color:#f5f8f8">
            <div class="col-md-5 form-group form-inline" style="margin-top:15px; ">
                <button name="sy" type="button" id="btn1" class="btn btn-group">所有</button>
                <button name="dsh" type="button" id="btn1" class="btn btn-group">待审核</button>
                <button type="button" id="btn1" class="btn btn-group">审核通过</button>
                <button type="button" id="btn1" class="btn btn-group">审核失败</button>
            </div>
            <div class="col-md-3 form-group form-inline" style="margin-top:15px;float:right;margin-right:-58px;">
                <a href="@Url.Action("QueryStorageAdd")" class="btn btn-primary">新增入库</a>
                <button type="button" class="btn btn-info">导出</button>
            </div>
            <div class="row">
                <div class="col-md-3 form-group form-inline " style="margin-top:83px;margin-left:-470px;">
                    <input type="text" class="form-control"name="StoOrderId" placeholder="请输入入库单号" />
                </div>
                <div class="col-md-7 form-group form-inline" style="margin-top:19px;">
                    <label class="control-label" style="margin-left:-20px;">时间</label> &nbsp;<input name="Start" value="@DateTime.Now.AddDays(-7).ToString("yyyy-MM-dd")" type="date" class="form-control" style="width:150px;" />&nbsp;-&nbsp;<input name="End" value="@DateTime.Now.AddDays(1).ToString("yyyy-MM-dd")" type="date" class="form-control" style="width:150px;" />&nbsp;&nbsp;<button id="BtnSelect" type="button" class="btn btn-info">搜索</button>&nbsp;<button type="button" id="BtnGJ" class="btn btn-info">高级搜索</button>&nbsp;<button type="button" id="BtnSq" class="btn btn-info">收起</button>
                </div>
            </div>
            <div id="div1" class="row" style="border:1px dotted black; width:1040px;height:90px;margin-top:8px;margin-left:15px;">
                <div class="col-md-3 form-inline" style="margin-top:10px;">
                    供应商<input type="text" class="form-control" />
                </div>
                <div class="col-md-3  form-group" style="margin-top:10px;">
                    单据类型 @Html.DropDownList("StStorageDJType", null, htmlAttributes: new { @class = "form-control", @style = "width:200px;" })
                </div>
                <div class="col-md-2 form-inline" style="margin-top:29px;">
                    <button id="btnTwo" type="button" class="btn btn-info">搜索</button>
                </div>
            </div>

            <div class="row" style="margin-top:25px;">
                <table class="table table-bordered table-hover table-responsive" style=" width:1043px;margin-left:28px; border:1px solid #e07a7a;">
                    <thead>
                        <tr style="font-weight:bold;">
                            <td>入库单号</td>
                            <td>入库类型</td>
                            <td>供应商</td>
                            <td>货品总数</td>
                            <td>总金额</td>
                            <td>状态</td>
                            <td>制单人</td>
                            <td>创建时间</td>
                            <td>操作</td>
                        </tr>
                    </thead>
                    <tbody>                       
                    </tbody>
                </table>
            </div>
            <div class="row form-inline form-group text-center" style="margin-top:30px;margin-right:30px;">
                <button id="btnSY" type="button" class="btn btn-primary form-group">首页</button>
                <button id="btnSYY" type="button" class="btn btn-primary form-group">上一页</button>
                <input id="textPageIndex" type="text" class="form-control" style="width:80px;" />
                <button id="btnGo" type="button" class="btn btn-primary form-group">Go</button>
                <button id="btnXYY" type="button" class="btn btn-primary form-group">下一页</button>
                <button id="WY" type="button" class="btn btn-primary form-group">尾页</button>
                <label id="txtLabel" style="font-size:16px;margin:0px auto;"></label>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        var pageIndexValue = 1;
        $(function () {
            State();

            $("#btnSY").click(function () {
                pageIndexValue = 1;
                BingStorageData();
            })
            $("#btnSYY").click(function () {
                pageIndexValue = pageIndexValue - 1;
                BingStorageData();
            })
            $("#btnGo").click(function () {
                pageIndexValue = parseInt($("#textPageIndex").val());
                BingStorageData();
            })
            $("#btnXYY").click(function () {
                pageIndexValue = pageIndexValue + 1;
                BingStorageData();
            })
            $("#WY").click(function () {
                pageIndexValue = 999999;
                BingStorageData();
            })
          
            $("#div1").hide();
                $("#BtnGJ").click(function () {
                    $("#div1").show();
                })
                $("#BtnSq").click(function () {
                    $("#div1").hide();
                })
                $("#UpdateRuKu").click(function () {
                    $("#myModal").modal();
                })
                $("#SelectRK").click(function () {
                    $("#myModal2").modal();
                })
                $("#BtnSelect").click(BingStorageData);
                $("#btnTwo").click(BingStorageData);
                BingStorageData();
            
        })

        function State() {
            $("[name=dsh]").click(function () {
                if (value.StStorageState==1) {
                    BingStorageData();
                }
            })
        }

        //入库单加载数据
        function BingStorageData() {
            //取值
            var StoOrderIdValue = $("[name=StoOrderId]").val();
            var StartValue = $("[name=Start]").val();
            var EndValue = $("[name=End]").val();
            var StStorageDJTypeValue = $("[name=StStorageDJType]").val();

            $.ajax({
                url:"@Url.Action("GetStorage")",
                data: { StoOrderId: StoOrderIdValue, Start: StartValue, End: EndValue, pageIndex: pageIndexValue, StoType:StStorageDJTypeValue },
                dataType:"json",
                type:"get",
                success: function (result) {
                    $("#txtLabel").html("当前第" + result.PageIndex + "页 / 共计" + result.PageCount + " 页 共计" + result.Count + " 条");
                    $("#textPageIndex").val(result.PageIndex);
                    pageIndexValue = result.PageIndex;
                    $("table tr:gt(0)").remove();
                    $.each(result.Storage, function (index, value) {
                        var StoType = null;
                        var StStorageState = null;
                        var str = "<tr>";
                        str += "<td>" + value.StoOrderId + "</td>";
                        if (value.StoType==1) {
                            StoType = "采购收货入库";
                        } else if (value.StoType == 2) {
                            StoType = "销售退货入库";
                        } else if (value.StoType == 3) {
                            StoType = "生产产品入库";
                        } else if (value.StoType == 4) {
                            StoType = "领用退还入库";
                        } else if (value.StoType == 5) {
                            StoType = "借货入库";
                        } else if (value.StoType == 6) {
                            StoType = "借出还入";
                        }
                        str += "<td>" + StoType + "</td>";
                        str += "<td>" + value.SuppliersType + "</td>";
                        str += "<td>" + value.GoodsTotal + "</td>";
                        str += "<td>" + value.TotalMoney + "</td>";
                        if (value.StStorageState==1) {
                            StStorageState = "待审核";
                        } else if (value.StStorageState==2) {
                            StStorageState = "审核通过";
                        } else if (value.StStorageState==3) {
                            StStorageState = "审核失败";
                        }
                        str += "<td>" + StStorageState + "</td>";
                        str += "<td>" + value.MakingSingle + "</td>";
                        str += "<td>" + value.CreateTime + "</td>";
                        str += "<td><a id=\"UpdateRuKu\"   href=\"# \"><span  class=\"glyphicon glyphicon-edit \"></span></a>&nbsp;&nbsp;&nbsp;<a id=\"SelectRK\" href=\"#\"><span class=\"glyphicon glyphicon-eye-open\"></span></a>&nbsp;&nbsp;&nbsp;<a href=\"#\"><span style=\"color:red\" class=\"glyphicon glyphicon-trash\"></span></a>&nbsp;&nbsp;&nbsp;<a href=\"#\"><span class=\"glyphicon glyphicon-thumbs-up\"></span></a>&nbsp;&nbsp;&nbsp;<a href=\"#\"><span class=\"glyphicon glyphicon-thumbs-down\"></span></a></td>";;
                        str += "</tr>";
                        $("table tbody").append(str);
                    })
                }
           })
       }
    </script>

    @*修改入库单*@
    <div class="modal fade" id="myModal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document" style="margin:0px auto; width:900px;height:300px;">
            <div class="modal-content">
                <div class="modal-header" style="color:white; border:0px solid black ;height:50px;background-color:#37435c">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">编辑入库单</h4>
                </div>
                    <div class="container" style="height:300px;">

                        <div style="border:0px solid #d4cdcd;width:855px;height:230px;margin:0px auto;margin-top:5px;border-radius:10px;">
                            <div class="row" style="margin-top:10px;">
                                <div class="col-md-3">
                                    <label class="control-label">入库单编号</label><input type="text" class="form-control" />
                                </div>
                                <div class="col-md-3">
                                    <label class="control-label">入库单类型</label> @Html.DropDownList("Type", null, htmlAttributes: new { @class = "form-control", @style = "width:190px;" })
                                </div>
                                <div class="col-md-3">
                                    <label class="control-label">制单人</label><input type="text" class="form-control" value="administrator" />
                                </div>
                                <div class="col-md-3">
                                    <label class="control-label">供应商编号</label><input type="text" class="form-control" />
                                </div>
                            </div>
                            <div class="row" style="margin-top:10px;">
                                <div class="col-md-3">
                                    <label class="control-label">供应商名称</label><input type="text" class="form-control" />
                                </div>
                                <div class="col-md-3">
                                    <label class="control-label">供应商联系人</label><input type="text" class="form-control" />
                                </div>
                                <div class="col-md-3">
                                    <label class="control-label">供应商联系方式</label><input type="text" class="form-control" />
                                </div>
                                <div class="col-md-3">
                                    <label class="control-label">制单时间</label><input type="date" class="form-control" />
                                </div>
                            </div>
                            <div class="row" style="margin-top:10px;">
                                <div class="col-md-12">
                                    <label class="control-label">备注</label><input type="text" class="form-control" />
                                </div>

                            </div>
                        </div>
                        <div class="row" style="margin-top:3px;">
                            <table class="table table-bordered table-hover table-responsive">
                                <thead>
                                    <tr style="font-weight:bold;">
                                        <td>产品名称</td>
                                        <td>产品条码</td>
                                        <td>规格</td>
                                        <td>批次</td>
                                        <td>单价</td>
                                        <td>入库数</td>
                                        <td>库位</td>
                                        <td>操作</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>挖土机</td>
                                        <td>0019</td>
                                        <td>规格1</td>
                                        <td>90</td>
                                        <td>800</td>
                                        <td>100</td>
                                        <td>哪个库位</td>
                                        <td><a href="#"><span style="color:red" class="glyphicon glyphicon-trash"></span></a></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                       
                    </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-primary">确定</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">取消</button>
                </div>
            </div>
        </div>
    </div>
    
    @*查看入库详情*@
    <div class="modal fade" id="myModal2" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document" style="margin:0px auto; width:900px;height:300px;">
            <div class="modal-content">
                <div class="modal-header" style="color:white; border:0px solid black ;height:50px;background-color:#37435c">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">入库单详细</h4>
                </div>
                <div class="container" style="height:300px;">
                    @*入库单*@
                    <div class="row" style="margin-top:10px;">
                        <table class="table table-bordered table-hover table-responsive">
                            <thead>
                                <tr style="font-weight:bold;">
                                    <td>入库单号</td>
                                    <td>类型</td>
                                    <td>状态</td>
                                    <td>供应商编号</td>
                                    <td>供应商名称</td>
                                    <td>供应商联系人</td>
                                    <td>创建人</td>
                                    <td>创建时间</td>
                                    <td>备注</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>入库单号1</td>
                                    <td>类型1</td>
                                    <td>状态1</td>
                                    <td>供应商编号1</td>
                                    <td>供应商名称1</td>
                                    <td>供应商联系人1</td>
                                    <td>创建人1</td>
                                    <td>创建时间1</td>
                                    <td>备注1</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    @*入库的产品*@
                    <div class="row" style="margin-top:20px;">
                        <label class="control-label" style="margin-left:5px;">入库单下的产品</label>
                        <table class="table table-bordered table-hover table-responsive">
                            <thead>
                                <tr style="font-weight:bold;">
                                    <td>产品名称</td>
                                    <td>产品条码</td>
                                    <td>规格</td>
                                    <td>批次</td>
                                    <td>单价</td>
                                    <td>入库数</td>
                                    <td>库位</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>产品名称1</td>
                                    <td>产品条码1</td>
                                    <td>规格1</td>
                                    <td>批次1</td>
                                    <td>单价1</td>
                                    <td>入库数1</td>
                                    <td>库位1</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">取消</button>
                </div>
            </div>
        </div>
    </div>

</body>
</html>
