
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <title>QueryRefundPage</title>
    <style>
        #btn1 {
            outline: none;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="row" style="margin-top:10px; margin-left:-92px; width:1126px; border:0px solid black;background-color:#37435c;border-radius:2px;">
            <div class="col-md-8">
                @*<label class="control-label">入库管理</label>*@
                <h5 style="font-size:15px;font-weight:bold;color:white">退货管理</h5>
            </div>
        </div>
        <div class="row" style="margin-left:-92px;  border:0px solid black;width:1126px;background-color:#f5f8f8;">
            <div class="col-md-5 form-group form-inline" style="margin-top:15px; ">
                <button name="sy" type="button" id="btn1" class="btn btn-group btn2" value="所有">所有</button>
                <button name="dsh" type="button" id="btn1" class="btn btn-group btn2" value="待审核">待审核</button>
                <button name="shtg" type="button" id="btn1" class="btn btn-group btn2" value="审核通过">审核通过</button>
                <button name="shsb" type="button" id="btn1" class="btn btn-group btn2" value="审核失败">审核失败</button>
            </div>
            <div class="col-md-3 form-group form-inline" style="margin-top:15px;float:right;margin-right:-58px;">
                <a href="@Url.Action("QueryRefundThAdd")" class="btn btn-primary">新增退货</a>
                <button type="button" class="btn btn-info">导出</button>
            </div>
            <div class="row">
                <div class="col-md-3 form-group form-inline " style="margin-top:83px;margin-left:-470px;">
                    <input type="text" class="form-control" name="RefundId" placeholder="请输入退货单号" />
                </div>
                <div class="col-md-7 form-group form-inline" style="margin-top:19px;">
                    <label class="control-label" style="margin-left:-20px;">时间</label> &nbsp;<input name="Start" value="@DateTime.Now.AddDays(-7).ToString("yyyy-MM-dd")" type="date" class="form-control" style="width:150px;" />&nbsp;-&nbsp;<input name="End" value="@DateTime.Now.AddDays(1).ToString("yyyy-MM-dd")" type="date" class="form-control" style="width:150px;" />&nbsp;&nbsp;<button id="btn" type="button" class="btn btn-info">搜索</button>
                </div>
            </div>

            <div class="row" style="margin-top:25px;">
                <table class="table table-bordered table-hover table-responsive" style=" width:1043px;margin-left:28px; border:1px solid #e07a7a;">
                    <thead>
                        <tr style="font-weight:bold;">
                            <td><input type="checkbox" /></td>
                            <td>退货单号</td>
                            <td>退货类型</td>
                            <td>退货产品</td>
                            <td>退货数量</td>
                            <td>状态</td>
                            <td>制单人</td>
                            <td>创建时间</td>
                            <td>操作</td>
                        </tr>
                    </thead>
                    <tbody>
                        @*<tr>
                                <td><input type="checkbox" /></td>
                                <td>退货单1</td>
                                <td>退货类型1</td>
                                <td>退货数量1</td>
                                <td>状态1</td>
                                <td>制单人1</td>
                                <td>2020-03-03</td>
                                <td><a id="UpdateTuiHuo" href="#"><span class="glyphicon glyphicon-edit"></span></a>&nbsp;&nbsp;&nbsp;<a href="#"><span style="color:red" class="glyphicon glyphicon-trash"></span></a>&nbsp;&nbsp;&nbsp;<a id="THXQ" href="#"><span class="glyphicon glyphicon-eye-open"></span></a>&nbsp;&nbsp;&nbsp;<a href="#"><span class="glyphicon glyphicon-hand-right"></span></a>&nbsp;&nbsp;&nbsp;<a href="#"><span class="glyphicon glyphicon-thumbs-down"></span></a></td>
                            </tr>*@
                    </tbody>
                </table>
            </div>
            <div class="row form-inline form-group text-center" style="margin-top:30px;margin-right:30px;">
                <button id="btnSY" type="button" class="btn btn-primary form-group">首页</button>
                <button id="btnSYY" type="button" class="btn btn-primary form-group">上一页</button>
                <input id="textPageIndex" type="text" class="form-control" style="width:80px;" />
                <button id="btnGo" type="button" class="btn btn-primary form-group">Go</button>
                <button id="btnXYY" type="button" class="btn btn-primary form-group">下一页</button>
                <button id="WY" type="button" class="btn btn-primary form-group">尾页</button>
                <label id="txtLabel" style="font-size:16px;margin:0px auto;"></label>
            </div>
        </div>
    </div>

    @*修改*@
    <div class="modal fade" id="myModal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document" style="margin:0px auto; width:900px;height:300px;">
            <div class="modal-content" id="div2">
                <div class="modal-header" style="color:white; border:0px solid black ;height:50px;background-color:#37435c">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">编辑退货单</h4>
                </div>
                <div class="container" style="height:280px;">

                    <div style="border:0px solid #d4cdcd;width:855px;height:230px;margin:0px auto;margin-top:5px;border-radius:10px;">
                        <div class="row" style="margin-top:10px;">
                            <div class="col-md-3" style="display:none;">
                                <label class="control-label">id</label><input type="text" class="form-control" id="id" />
                            </div>
                            <div class="col-md-3" style="margin-left:20px;width:190px;">
                                <label class="control-label">退货编号</label><input type="text" class="form-control" id="bh"/>
                            </div>
                            <div class=" col-md-2 form-inline" style="margin-left:10px;">
                                <label class="control-label">选择退货产品</label> @Html.DropDownList("ProductGLType", null, htmlAttributes: new { @class = "form-control", @style = "width:170px;" })
                            </div>
                            <div class=" col-md-2 form-inline" style="margin-left:63px;">
                                <label class="control-label">退货类型</label> @Html.DropDownList("RefundTHType", null, htmlAttributes: new { @class = "form-control", @style = "width:170px;" })
                            </div>
                            <div class="col-md-3"style="margin-left:65px;width:190px;">
                                <label class="control-label">退货数量</label><input type="text" class="form-control" id="sl" />
                            </div>                          
                        </div>
                        <div class="row" style="margin-top:10px;">
                            <div class="col-md-3"  style="margin-top:10px; margin-left:20px;width:190px;">
                                <label class="control-label">制单日期</label><input type="date" class="form-control" value="administrator" id="sj" />
                            </div>
                            <div class=" col-md-3 form-inline" style="margin-top:10px; margin-left :10px;width:190px;">
                                <label class="control-label">客户名称</label>@Html.DropDownList("ClientType", null, htmlAttributes: new { @class = "form-control", @style = "width:170px;" })
                            </div>
                            <div class="col-md-3"style="margin-top:10px; margin-left:20px;width:200px;">
                                <label class="control-label">客户编号</label><input type="text" class="form-control" id="khbh"/>
                            </div>
                            <div class="col-md-3"style="margin-top:10px; margin-left:15px;width:190px;">
                                <label class="control-label">客户地址</label><input type="text" class="form-control" id="dz"/>
                            </div>                       
                        </div>
                        <div class="row" style="margin-top:10px;">
                            <div class="col-md-3"style="margin-top:10px; margin-left:20px;width:190px;">
                                <label class="control-label">客户联系方式</label><input type="text" class="form-control" id="lxfs" />
                            </div>
                            <div class="col-md-3"style="margin-top:10px; margin-left :10px;width:200px;">
                                <label class="control-label">联系人</label><input type="text" class="form-control" id="lxr" />
                            </div>  
                            <div class="col-md-3"style="margin-top:10px; margin-left:10px;width:200px;">
                                <label class="control-label">制单人</label><input type="text" class="form-control" value="administrator" id="zdr"/>
                            </div>
                            <div class="col-md-3"style="margin-top:10px; margin-left:15px;width:190px;">
                                <label class="control-label">备注</label><input type="text" class="form-control" id="bz"/>
                            </div>

                        </div>
                    </div>


                    </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onclick="BingUpdate()">确定</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">取消</button>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $("#UpdateTuiHuo").click(function () {
            $("#myModal").modal();
        })
        //打开退货详情
        $("#THXQ").click(function () {
            $("#myModal2").modal();
        })

        var pageIndexValue = 1;
        var ztValue = 0;
        var ZhuanTai = null;
        $(function () {

            $("#ClientType").change(function () {
                var SupplierValue = $(this).val();
                name == $(this).find("option:selected").text();
                id = $(this).val();
                $.ajax({
                    url: "@Url.Action("QueryKH")",
                    data: { id: SupplierValue },
                    dataType: "json",
                    type: "get",
                    success: function (result) {
                        $.each(result.data, function (index, value) {
                            $("#lxr").val(value.Standby4);
                            $("#lxfs").val(value.Phone);
                            $("#khbh").val(value.ClientId);
                            $("#dz").val(value.Standby3);
                        })
                    }
                })
            });
            //状态切换
            $("[name=sy]").click(function () {
                ztValue = 0;
            })
            $("[name=dsh]").click(function () {
                ztValue = 1;
            })
            $("[name=shtg]").click(function () {
                ztValue = 2;
            })
            $("[name=shsb]").click(function () {
                ztValue = 3;
            })
            $(".btn2").click(function () {
                BindData()
            })

            //加载数据
            BindData();
            $("#btnSY").click(function () {
                pageIndexValue = 1;
                BindData();
            })
            $("#btnSYY").click(function () {
                pageIndexValue = pageIndexValue - 1;
                BindData();
            })
            $("#btnGo").click(function () {
                pageIndexValue = parseInt($("#textPageIndex").val());
                BindData();
            })
            $("#btnXYY").click(function () {
                pageIndexValue = pageIndexValue + 1;
                BindData();
            })
            $("#WY").click(function () {
                pageIndexValue = 999999;
                BindData();
            })
            //模糊查询
            $("#btn").click(BindData);
        })

        //传值
        function Upda() {
            $("#myModal").modal();
            $("#div2").show();
            $.ajax({
                url: "@Url.Action("RefundData")",
                data: { id: ZhuanTai },
                dataType: "json",
                type: "get",
                success: function (result) {
                    $.each(result.data, function (index, value) {
                        $("#id").val(ZhuanTai);//编号
                        $("#bh").val(value.RefundId);//退货编号
                        $("#RefundTHType").val(value.Standby1);//退货类型
                        $("#ProductGLType").find("option:selected").text(value.Standby4);//退货产品
                        $("#zdr").val(value.PreparedMan);//制单人
                        $("#ClientType").find("option:selected").text(value.ClientName);//客户
                        $("#khbh").val(value.ClientId);//客户编号
                        $("#lxr").val(value.ContactMan);//联系人
                        $("#dz").val(value.ClientSite);//地址
                        $("#lxfs").val(value.ClientContactWay);//联系方式
                        $("#sj").val(value.PreparedTime);//制单时间
                        $("#sl").val(value.RefundCount);//退货数
                        $("#bz").val(value.Remark);//备注
                    }

                    )
                }
            });
        }
        //修改
        function BingUpdate() {
            var sRefundId= $("#bh").val();//退货编号
            var sStandby1 = $("#RefundTHType").val();//退货类型
            var sStandby4= $("#ProductGLType").find("option:selected").text();//退货产品
            var sPreparedMan= $("#zdr").val();//制单人
            var sClientName= $("#ClientType").find("option:selected").text();//客户
            var sClientId= $("#khbh").val();//客户编号
            var sContactMan= $("#lxr").val();//联系人
            var sClientSite= $("#dz").val();//地址
            var sClientContactWay= $("#lxfs").val();//联系方式
            var sPreparedTime= $("#sj").val();//制单时间
            var sRefundCount= $("#sl").val();//退货数
            var sRemark = $("#bz").val();//备注
            $.ajax({
                url: "@Url.Action("UpdateRefund")",
                data: {
                    Rid: ZhuanTai,
                    RefundId: sRefundId,
                    RefundCount: sRefundCount,
                    ClientId: sClientId,
                    ClientName:  sClientName,
                    ClientSite:  sClientSite,
                    ClientContactWay:  sClientContactWay,
                    ContactMan:  sContactMan,
                    PreparedMan:  sPreparedMan,
                    Remark:  sRemark,
                    PreparedTime:  sPreparedTime,
                    Standby1: sStandby1,
                    Standby4: sStandby4
                },
                dataType: "json",
                type: "post",
                success: function (result) {
                    alert(result.Msg);
                    BingStorageData();
                }
            })
        }
        //加载数据方法
        function BindData() {
            var RefundTypes = null;
            var RefundState = null;
            var RefundIdValue = $("[name=RefundId]").val();
            var StartValue = $("[name=Start]").val();
            var EndValue = $("[name=End]").val();
            $.ajax({
                url: "@Url.Action("GetRefun")",
                data: { RefundId: RefundIdValue, PageIndex: pageIndexValue, Start: StartValue, End: EndValue, zt: ztValue },
                dataType: "json",
                type: "get",
                success: function (RefundResult) {
                    $("#txtLabel").html("当前第" + RefundResult.PageIndex + "页 / 共计" + RefundResult.PageCount + " 页 共计" + RefundResult.Count + " 条");
                    $("#textPageIndex").val(RefundResult.PageIndex);
                    pageIndexValue = RefundResult.PageIndex;
                    $("table tr:gt(0)").remove();
                    $.each(RefundResult.RefundAction, function (index, value) {
                        ZhuanTai = value.Rid;
                        var str = "<tr>";
                        str += "<td><input type=\"checkbox\" /></td>";
                        str += "<td>" + value.RefundId + "</td>";
                       
                        if (value.Standby1 == 7) {
                            RefundTypes = "销售退货";
                        } else if (value.Standby1 == 8) {
                            RefundTypes = "采购退货";
                        }
                        str += "<td>" + RefundTypes + "</td>";
                        str += "<td>" + value.Standby4 + "</td>";
                        str += "<td>" + value.RefundCount + "</td>";
                        if (value.RefundAuditState == 1) {
                            RefundState = "待审核";
                        } else if (value.RefundAuditState == 2) {
                            RefundState = "审核通过";
                        } else if (value.RefundAuditState == 3) {
                            RefundState = "审核失败";
                        }
                        str += "<td>" + RefundState + "</td>";
                        str += "<td>" + value.PreparedMan + "</td>";
                        str += "<td>" + value.PreparedTime + "</td>";
                        if (value.RefundAuditState == 2) {
                            str += "<td><a id=\"UpdateRuKu\"  onclick=\"Upda()\"href=\"# \"><span  class=\"glyphicon glyphicon-edit \"></span></a>&nbsp;&nbsp;&nbsp;<a onclick=\"deleteState()\" href=\"#\"><span style=\"color:red\" class=\"glyphicon glyphicon-trash\"></span></a></td>";
                        } else if (value.RefundAuditState == 3) {
                            str += "<td><a id=\"UpdateRuKu\"  onclick=\"Upda()\"href=\"# \"><span  class=\"glyphicon glyphicon-edit \"></span></a>&nbsp;&nbsp;&nbsp;<a onclick=\"deleteState()\" href=\"#\"><span style=\"color:red\" class=\"glyphicon glyphicon-trash\"></span></a></td>";
                        } else {
                            str += "<td><a id=\"UpdateRuKu\"  onclick=\"Upda()\"href=\"# \"><span  class=\"glyphicon glyphicon-edit \"></span></a>&nbsp;&nbsp;&nbsp;<a onclick=\"deleteState()\" href=\"#\"><span style=\"color:red\" class=\"glyphicon glyphicon-trash\"></span></a>&nbsp;&nbsp;&nbsp;<a onclick=\"RefundAuditStateUp1()\" href=\"#\"><span  class=\"glyphicon glyphicon-thumbs-up\"></span></a>&nbsp;&nbsp;&nbsp;<a onclick=\"RefundAuditStateUp2()\" href=\"#\"><span class=\"glyphicon glyphicon-thumbs-down\"></span></a></td>";
                        }
                        str += "</tr>";
                        $("table tbody").append(str);
                    })
                }
            })
        }

        //删除方法
        function deleteState() {
            $.ajax({
                url: "@Url.Action("DelRefund")",
                data: { Rid: ZhuanTai },
                dataType: "json",
                type: "post",
                success: function () {
                    if (confirm("确认删除吗？")) {
                        BindData();
                        alert("删除成功！");
                        return true;
                    } else {
                        return false;
                    }
                }
            })
        }
        //审核通过
        function RefundAuditStateUp1() {
            $.ajax({
                url: "@Url.Action("RefundUpSHZT")",
                data: { Rid: ZhuanTai, RefundAuditStates: 2 },
            dataType: "json",
            type: "post",
            success: function () {
                if (confirm("确认审核通过吗？")) {
                    BindData();
                    alert("审核成功！");
                    return true;
                }
            }
        })
        }
        //审核不通过
        function RefundAuditStateUp2() {
            $.ajax({
                url: "@Url.Action("RefundUpSHZT")",
                data: { Rid: ZhuanTai, RefundAuditStates: 3 },
            dataType: "json",
            type: "post",
            success: function () {
                if (confirm("确认审核不通过吗？")) {
                    BindData();
                    alert("审核成功！");
                    return true;
                }
            }
        })
        }

    </script>


</body>
</html>
