
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />

    <title>QueryStorage</title>
    <style>
        #btn1 {
            outline: none;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="row" style="margin-top:10px; margin-left:-92px; width:1126px; border:0px solid black;background-color:#37435c;border-radius:2px;">
            <div class="col-md-8">
                @*<label class="control-label">入库管理</label>*@
                <h5 style="font-size:15px;font-weight:bold;color:white">入库管理</h5>
            </div>
        </div>
        <div class="row" style="margin-left:-92px;  border:0px solid black;width:1126px;background-color:#f5f8f8">
            <div class="col-md-5 form-group form-inline" style="margin-top:15px; ">
                <button name="sy" type="button" id="btn1" class="btn btn-group btn2" value="所有">所有</button>
                <button name="dsh" type="button" id="btn1" class="btn btn-group btn2" value="待审核">待审核</button>
                <button name="shtg" type="button" id="btn1" class="btn btn-group btn2" value="审核通过">审核通过</button>
                <button name="shsb" type="button" id="btn1" class="btn btn-group btn2" value="审核失败">审核失败</button>
            </div>
            <div class="col-md-3 form-group form-inline" style="margin-top:15px;float:right;margin-right:-58px;">
                <a href="@Url.Action("QueryStorageAdd")" class="btn btn-primary">新增入库</a>
                <button type="button" class="btn btn-info">导出</button>
            </div>
            <div class="row">
                <div class="col-md-3 form-group form-inline " style="margin-top:83px;margin-left:-470px;">
                    <input type="text" class="form-control" name="StoOrderId" placeholder="请输入入库单号" />
                </div>
                <div class="col-md-7 form-group form-inline" style="margin-top:19px;">
                    <label class="control-label" style="margin-left:-20px;">时间</label> &nbsp;<input name="Start" value="@DateTime.Now.AddDays(-7).ToString("yyyy-MM-dd")" type="date" class="form-control" style="width:150px;" />&nbsp;-&nbsp;<input name="End" value="@DateTime.Now.AddDays(1).ToString("yyyy-MM-dd")" type="date" class="form-control" style="width:150px;" />&nbsp;&nbsp;<button id="BtnSelect" type="button" class="btn btn-info">搜索</button>&nbsp;<button type="button" id="BtnGJ" class="btn btn-info">高级搜索</button>&nbsp;<button type="button" id="BtnSq" class="btn btn-info">收起</button>
                </div>
            </div>
            <div id="div1" class="row" style="border:1px dotted black; width:1040px;height:90px;margin-top:8px;margin-left:15px;">
                <div class="col-md-3 form-inline" style="margin-top:10px;">
                    供应商<input name="SuppliersType" type="text" class="form-control" />
                </div>
                <div class="col-md-3  form-group" style="margin-top:10px;">
                    单据类型 @Html.DropDownList("StStorageDJType", null, htmlAttributes: new { @class = "form-control", @style = "width:200px;" })
                </div>
                <div class="col-md-2 form-inline" style="margin-top:29px;">
                    <button id="btnTwo" type="button" class="btn btn-info">搜索</button>
                </div>
            </div>

            <div class="row" style="margin-top:25px;">
                <table class="table table-bordered table-hover table-responsive" style=" width:1043px;margin-left:28px; border:1px solid #e07a7a;">
                    <thead>
                        <tr style="font-weight:bold;">
                            <td>入库单号</td>
                            <td>入库类型</td>
                            <td>供应商</td>
                            <td>货品总数</td>
                            <td>总金额</td>
                            <td>状态</td>
                            <td>制单人</td>
                            <td>创建时间</td>
                            <td>操作</td>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
            <div class="row form-inline form-group text-center" style="margin-top:30px;margin-right:30px;">
                <button id="btnSY" type="button" class="btn btn-primary form-group">首页</button>
                <button id="btnSYY" type="button" class="btn btn-primary form-group">上一页</button>
                <input id="textPageIndex" type="text" class="form-control" style="width:80px;" />
                <button id="btnGo" type="button" class="btn btn-primary form-group">Go</button>
                <button id="btnXYY" type="button" class="btn btn-primary form-group">下一页</button>
                <button id="WY" type="button" class="btn btn-primary form-group">尾页</button>
                <label id="txtLabel" style="font-size:16px;margin:0px auto;"></label>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        var pageIndexValue = 1;
        var ztValue = 0;
        var deleteid = null;
        $(function () {
            $("#SupplierType").change(function () {
                var SupplierValue = $(this).val();
                name == $(this).find("option:selected").text();
                id = $(this).val();
                $.ajax({
                    url: "@Url.Action("QueryGys")",
                    data: { id: SupplierValue },
                    dataType: "json",
                    type: "get",
                    success: function (result) {
                        $.each(result.data, function (index, value) {
                            $("#lxr").val(value.Contacts);
                            $("#lxfs").val(value.Phone);
                        })
                    }
                })
            });
            //状态切换
            $("[name=sy]").click(function () {
                ztValue = 0;
            })
            $("[name=dsh]").click(function () {
                ztValue = 1;
            })
            $("[name=shtg]").click(function () {
                ztValue = 2;
            })
            $("[name=shsb]").click(function () {
                ztValue = 3;
            })
            $(".btn2").click(function () {
                BingStorageData();
            })


            $("#btnSY").click(function () {
                pageIndexValue = 1;
                BingStorageData();
            })
            $("#btnSYY").click(function () {
                pageIndexValue = pageIndexValue - 1;
                BingStorageData();
            })
            $("#btnGo").click(function () {
                pageIndexValue = parseInt($("#textPageIndex").val());
                BingStorageData();
            })
            $("#btnXYY").click(function () {
                pageIndexValue = pageIndexValue + 1;
                BingStorageData();
            })
            $("#WY").click(function () {
                pageIndexValue = 999999;
                BingStorageData();
            })
          
            $("#div1").hide();
                $("#BtnGJ").click(function () {
                    $("#div1").show();
                })
                $("#BtnSq").click(function () {
                    $("#div1").hide();
                })
                $("#UpdateRuKu").click(function () {
                    $("#myModal").modal();
                })
                $("#SelectRK").click(function () {
                    $("#myModal2").modal();
                })
                $("#BtnSelect").click(BingStorageData);
                $("#btnTwo").click(BingStorageData);
                BingStorageData();
            
        })

        //删除
        function Delete() {
            $.ajax({
                url: "@Url.Action("GetDeleteRK")",
                data: { id: deleteid },
                dataType: "json",
                type: "post",
                success: function () {
                    if (confirm("确认删除吗？")) {
                        BingStorageData()
                        alert("删除成功！");
                        return true;
                    } else {
                        return false;
                    }
                }
            })

        }

        //审核通过API1
        function UpStStorageState2() {
            $.ajax({
                url: "@Url.Action("StStorageUpSH")",
                data: { Stoid: deleteid, StStorageStates: 2 },
                dataType: "json",
                type: "post",
                success: function () {
                    if (confirm("确认审核通过吗？")) {
                        BingStorageData()
                        alert("审核成功！");
                        return true;
                    }
                }
            })
        }
        
        //审核不通过API2
        function UpStStorageState3() {
            $.ajax({
                url: "@Url.Action("StStorageUpSH")",
                data: { Stoid: deleteid, StStorageStates: 3 },
                dataType: "json",
                type: "post",
            success: function () {
                if (confirm("确认审核不通过吗？")) {
                    BingStorageData()
                    alert("审核成功！");
                    return true;
                }
            }
        })
        }
        //修改
        function BingUpdate() {
            var bhValue = $("#bh").val();//入库编号
            var StStorageDJTypeValue = $("#StStorageDJType").val();//入库类型
            var ProductGLTypeValue = $("#ProductGLType").val();//入库产品
            var zdrValue = $("#zdr").val();//制单人
            var SupplierTypeValue = $("#SupplierType").find("option:selected").text();//供应商
            var lxrValue = $("#lxr").val();//联系人
            var lxfsValue = $("#lxfs").val();//联系方式
            var sjValue = $("#sj").val();//制单时间
            var rksValue = $("#rks").val();//入库数
            var zjeValue = $("#zje").val();//总金额
            var bzValue = $("#bz").val();//备注
            $.ajax({
                url: "@Url.Action("QueryRkUpdate")",
                data: { Stoid: deleteid, StoOrderId: bhValue, StoType: StStorageDJTypeValue, GoodsTotal: rksValue, TotalMoney: zjeValue, MakingSingle: zdrValue, SuppliersName: SupplierTypeValue, SuppliersPeople: lxrValue, SuppliersContact: lxfsValue, OrdersTime: sjValue, CreateTime: sjValue, Remark: bzValue, Standby4: ProductGLTypeValue },
                dataType: "json",
                type: "post",
                success: function (result) {
                    alert(result.Msg);
                    BingStorageData();
                }
            })
        }

        function Upda() {
            $("#myModal").modal();
            $("#div2").show();
            $.ajax({
                url: "@Url.Action("QueUpt")",
                data: { id: deleteid },
                dataType: "json",
                type: "get",
                success: function (result) {
                    $.each(result.Storage, function (index, value) {
                        $("#Stid").val(deleteid);//编号
                        $("#bh").val(value.StoOrderId);//入库编号
                        $("#StStorageDJType").val(value.StoType);//入库类型
                        $("#ProductGLType").val(value.Standby4);//入库产品
                        $("#zdr").val(value.MakingSingle);//制单人
                        $("#SupplierType").find("option:selected").text(value.SuppliersName);//供应商
                        $("#lxr").val(value.SuppliersPeople);//联系人
                        $("#lxfs").val(value.SuppliersContact);//联系方式
                        $("#sj").val(value.OrdersTime);//制单时间
                        $("#rks").val(value.GoodsTotal);//入库数
                        $("#zje").val(value.TotalMoney);//总金额
                        $("#bz").val(value.Remark);//备注
                    }

                    )
                }
            });
        }


        //入库单加载数据
        function BingStorageData() {
            //取值
            var StoOrderIdValue = $("[name=StoOrderId]").val();
            var StartValue = $("[name=Start]").val();
            var EndValue = $("[name=End]").val();
            var StStorageDJTypeValue = $("[name=StStorageDJType]").val();
            var SuppliersTypeValue = $("[name=SuppliersType]").val();

            var StoType = null;
            var StStorageState = null;
            $.ajax({
                url: "@Url.Action("GetStorage")",
                data: { zt: ztValue, StoOrderId: StoOrderIdValue, Start: StartValue, End: EndValue, pageIndex: pageIndexValue, StoType: StStorageDJTypeValue, SuppliersType: SuppliersTypeValue },
                dataType: "json",
                type: "get",
                success: function (result) {
                    $("#txtLabel").html("当前第" + result.PageIndex + "页 / 共计" + result.PageCount + " 页 共计" + result.Count + " 条");
                    $("#textPageIndex").val(result.PageIndex);
                    pageIndexValue = result.PageIndex;
                    $("table tr:gt(0)").remove();
                    $.each(result.Storage, function (index, value) {
                        deleteid = value.Stoid;
                        var str = "<tr>";
                        str += "<td>" + value.StoOrderId + "</td>";
                        if (value.StoType == 1) {
                            StoType = "采购收货入库";
                        } else if (value.StoType == 2) {
                            StoType = "销售退货入库";
                        } else if (value.StoType == 3) {
                            StoType = "生产产品入库";
                        } else if (value.StoType == 4) {
                            StoType = "领用退还入库";
                        } else if (value.StoType == 5) {
                            StoType = "借货入库";
                        } else if (value.StoType == 6) {
                            StoType = "借出还入";
                        }
                        str += "<td>" + StoType + "</td>";
                        str += "<td>" + value.SuppliersType + "</td>";
                        str += "<td>" + value.GoodsTotal + "</td>";
                        str += "<td>" + value.TotalMoney + "</td>";
                        if (value.StStorageState == 1) {
                            StStorageState = "待审核";
                        } else if (value.StStorageState == 2) {
                            StStorageState = "审核通过";
                        } else if (value.StStorageState == 3) {
                            StStorageState = "审核失败";
                        }
                        str += "<td>" + StStorageState + "</td>";
                        str += "<td>" + value.MakingSingle + "</td>";
                        str += "<td>" + value.CreateTime + "</td>";
                        if (value.StStorageState == 2) {
                            str += "<td><a id=\"UpdateRuKu\" onclick=\"Upda()\" href=\"# \"><span  class=\"glyphicon glyphicon-edit \"></span></a>&nbsp;&nbsp;&nbsp;<a onclick=\"Delete()\" href=\"#\"><span style=\"color:red\" class=\"glyphicon glyphicon-trash\"></span></a></td>";
                        } else if (value.StStorageState == 3) {
                            str += "<td><a id=\"UpdateRuKu\" onclick=\"Upda()\" href=\"# \"><span  class=\"glyphicon glyphicon-edit \"></span></a>&nbsp;&nbsp;&nbsp;<a onclick=\"Delete()\" href=\"#\"><span style=\"color:red\" class=\"glyphicon glyphicon-trash\"></span></a></td>";
                        } else {
                            str += "<td><a id=\"UpdateRuKu\" onclick=\"Upda()\" href=\"# \"><span  class=\"glyphicon glyphicon-edit \"></span></a>&nbsp;&nbsp;&nbsp;<a onclick=\"Delete()\" href=\"#\"><span style=\"color:red\" class=\"glyphicon glyphicon-trash\"></span></a>&nbsp;&nbsp;&nbsp;<a onclick=\"UpStStorageState2()\" href=\"#\"><span  class=\"glyphicon glyphicon-thumbs-up\"></span></a>&nbsp;&nbsp;&nbsp;<a onclick=\"UpStStorageState3()\" href=\"#\"><span class=\"glyphicon glyphicon-thumbs-down\"></span></a></td>";
                        }                      
                        str += "</tr>";
                        $("table tbody").append(str);
                    })
                }
           })
       }
    </script>

    @*修改入库单*@
    <div class="modal fade" id="myModal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document" style="margin:0px auto; width:900px;height:300px;">
            <div class="modal-content" id="div2">
                <div class="modal-header" style="color:white; border:0px solid black ;height:50px;background-color:#37435c">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">编辑入库单</h4>
                </div>
                    <div class="container" style="height:300px;">

                        <div style="border:0px solid #d4cdcd;width:855px;height:230px;margin:0px auto;margin-top:5px;border-radius:10px;">
                            <div class="row" style="margin-top:10px;">
                                <div class="col-md-3">
                                <label class="control-label">编号</label><input type="text" class="form-control" id="Stid" />
                            </div>
                            <div class=" col-md-2 form-inline" style="margin-top:13px;margin-left:90px;">
                                <label class="control-label">入库单编号</label><input type="text" class="form-control" placeholder="可不填,自动生成" id="bh" />
                                </div>
                            <div class=" col-md-2 form-inline" style="margin-top:13px;">
                                <label class="control-label">入库单类型</label> @Html.DropDownList("StStorageDJType", null, htmlAttributes: new { @class = "form-control", @style = "width:160px;" })
                                </div>
                            <div class=" col-md-2 form-inline" style="margin-top:13px;margin-left:70px;">
                                <label class="control-label">选择入库产品</label> @Html.DropDownList("ProductGLType", null, htmlAttributes: new { @class = "form-control", @style = "width:200px;" })
                                </div>
                            <div class=" col-md-2 form-inline" style="margin-top:13px;">
                                <label class="control-label">制单人</label><input type="text" class="form-control" value="administrator" id="zdr" />
                                </div>
                            <div class=" col-md-2 form-inline" style="margin-top:13px;margin-left:70px;">
                                <label class="control-label">选择供应商</label> @Html.DropDownList("SupplierType", null, htmlAttributes: new { @class = "form-control", @style = "width:200px;" })
                            </div>
                                </div>
                        <div class="row">
                            <div class=" col-md-2 form-inline" style="margin-top:13px;margin-left:90px;">
                                <label class="control-label">供应商联系人</label><input type="text" class="form-control" id="lxr" />
                                </div>
                            <div class=" col-md-2 form-inline" style="margin-top:13px;">
                                <label class="control-label">供应商联系方式</label><input type="text" class="form-control" id="lxfs" />
                                </div>
                            <div class=" col-md-2 form-inline" style="margin-top:13px;">
                                <label class="control-label">入库数</label><input type="text" class="form-control" id="rks" />
                                </div>
                            <div class=" col-md-2 form-inline" style="margin-top:13px;">
                                <label class="control-label">总金额</label><input type="text" class="form-control" id="zje" />
                            </div>
                            <div class=" col-md-2 form-inline" style="margin-top:13px;">
                                <label class="control-label">制单时间</label><input type="date" class="form-control" id="sj" />
                                </div>
                            <div class=" col-md-4 form-inline" style="margin-top:13px;">
                                <label class="control-label">备注</label><input type="text" class="form-control" id="bz" />
                            </div>
                        </div>
                        </div>
                    </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onclick="BingUpdate()">确定</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">取消</button>
                </div>
            </div>
        </div>
    </div>
    

</body>
</html>
