
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <title>QueryCheckPage</title>
    <style>
        #btn1 {
            outline: none;
        }
    </style>
</head>
<body>
    <div class="container" >
        <div class="row" style="margin-top:10px; margin-left:-92px; width:1126px; border:0px solid black;background-color:#37435c;border-radius:2px;">
            <div class="col-md-8">
                @*<label class="control-label">入库管理</label>*@
                <h5 style="font-size:15px;font-weight:bold;color:white">盘点单管理</h5>
            </div>
        </div>
        <div class="row" style="margin-left:-92px;  border:0px solid black;width:1126px;background-color:#f5f8f8;">
            <div class="col-md-5 form-group form-inline" style="margin-top:15px; ">
                <button name="sy" type="button" id="btn1" class="btn btn-group btn2" value="所有">所有</button>
                <button name="dsh" type="button" id="btn1" class="btn btn-group btn2" value="待审核">待审核</button>
                <button name="shtg" type="button" id="btn1" class="btn btn-group btn2" value="审核通过">审核通过</button>
                <button name="shsb" type="button" id="btn1" class="btn btn-group btn2" value="审核失败">审核失败</button>
            </div>
            <div class="col-md-3 form-group form-inline" style="margin-top:15px;float:right;margin-right:-58px;">
                <a href="@Url.Action("QueryCheckDanCheckMbAdd")" class="btn btn-primary">新增盘点</a>
                <button type="button" class="btn btn-info">导出</button>
            </div>
            <div class="row">
                <div class="col-md-3 form-group form-inline " style="margin-top:83px;margin-left:-470px;">
                    <input name="CheckId" type="text" class="form-control" placeholder="请输入盘点单号" />
                </div>
                <div class="col-md-7 form-group form-inline" style="margin-top:19px;">
                    <label class="control-label" style="margin-left:-20px;">时间</label> &nbsp;<input name="Start" value="@DateTime.Now.AddDays(-7).ToString("yyyy-MM-dd")" type="date" class="form-control" style="width:150px;" />&nbsp;-&nbsp;<input  name="End" value="@DateTime.Now.AddDays(1).ToString("yyyy-MM-dd")" type="date" class="form-control" style="width:150px;" />&nbsp;&nbsp;<button id="btnadd" type="button" class="btn btn-info">搜索</button>
                </div>
            </div>

            <div class="row" style="margin-top:25px;">
                <table class="table table-bordered table-hover table-responsive" style=" width:1043px;margin-left:28px; border:1px solid #e07a7a;">
                    <thead>
                        <tr style="font-weight:bold;">
                            <td><input type="checkbox" /></td>
                            <td>盘点编号</td>
                            <td>盘点类型</td>
                            <td>盘点产品</td>
                            <td>状态</td>
                            <td>制单人</td>
                            <td>创建时间</td>
                            <td>操作</td>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
            <div class="row form-inline form-group text-center" style="margin-top:30px;margin-right:30px;">
                <button id="btnSY" type="button" class="btn btn-primary form-group">首页</button>
                <button id="btnSYY" type="button" class="btn btn-primary form-group">上一页</button>
                <input id="textPageIndex" type="text" class="form-control" style="width:80px;" />
                <button id="btnGo" type="button" class="btn btn-primary form-group">Go</button>
                <button id="btnXYY" type="button" class="btn btn-primary form-group">下一页</button>
                <button id="WY" type="button" class="btn btn-primary form-group">尾页</button>
                <label id="txtLabel" style="font-size:16px;margin:0px auto;"></label>
            </div>
        </div>
    </div>

    @*查看报损单详情*@
    <div class="modal fade" id="myModal2" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document" style="margin:0px auto; width:900px;height:300px;">
            <div class="modal-content">
                <div class="modal-header" style="color:white; border:0px solid black ;height:50px;background-color:#37435c">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">盘差详细</h4>
                </div>
                <div class="container" style="height:300px;">
                    @*盘差单*@
                    <div class="row" style="margin-top:10px;border:0px solid black;width:875px;height:100px;background-color:#f5f8f8">
                        <div class="row form-group form-inline" style="margin-top:10px;margin-left:3px;">
                            <div class="col-md-3">
                                <label>盘点单据号：</label><span>00009</span>
                            </div>
                            <div class="col-md-3">
                                <label>盘点类型：</label><span>产品盘点</span>
                            </div>
                            <div class="col-md-3">
                                <label>制单人：</label><span>administrator</span>
                            </div>
                            <div class="col-md-3">
                                <label>状态：</label><span style="color:red;">等待审核</span>
                            </div>
                        </div>
                        <div class="row form-group form-inline" style="margin-top:10px;margin-left:3px;">
                            <div class="col-md-3">
                                <label>备注：</label><span>风云人物666</span>
                            </div>
                        </div>                     
                    </div>

                    @*报损单下的产品*@ 
                    <div class="row" style="margin-top:20px;">
                        <table class="table table-bordered table-hover table-responsive">
                            <thead>
                                <tr style="font-weight:bold;">
                                    <td>产品编号</td>
                                    <td>产品名称</td>
                                    <td>产品条码</td>
                                    <td>库位</td>
                                    <td>批次</td>
                                    <td>库存数</td>
                                    <td>盘点数</td>
                                    <td>盘差数</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>产品编号1</td>
                                    <td>产品名称1</td>
                                    <td>产品条码1</td>
                                    <td>库位1</td>
                                    <td>批次1</td>
                                    <td>×</td>
                                    <td>×</td>
                                    <td>×</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">取消</button>
                </div>
            </div>
        </div>
    </div>

    @*修改盘点*@
    <div class="modal fade" id="myModal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document" style="margin:0px auto; width:900px;height:300px;">
            <div class="modal-content" id="div2">
                <div class="modal-header" style="color:white; border:0px solid black ;height:50px;background-color:#37435c">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">编辑盘点单</h4>
                </div>
                <div class="container" style="height:180px;">

                    <div style="border:0px solid #d4cdcd;width:855px;height:160px;margin:0px auto;margin-top:5px;border-radius:10px;">
                        <div class="row" style="margin-top:10px;">
                               <input id="Iid" name="Iid" type="hidden" class="form-control" disabled="disabled" />
                            <div class="col-md-3">
                                <label class="control-label">盘点编号</label><input id="CheckIds" name="CheckId" type="text" class="form-control" disabled="disabled" />
                            </div>
                            <div class="col-md-3">
                                <label class="control-label">制单时间</label><input name="PreparedTime" type="date" class="form-control"  />
                            </div>
                            <div class="col-md-3">
                                <label class="control-label">产品名称</label>@Html.DropDownList("Cps", null, htmlAttributes: new { @class = "form-control", @style = "width:190px;" })
                            </div>
                            <div class="col-md-3">
                                <label class="control-label">产品类别</label>@Html.DropDownList("Lbs", null, htmlAttributes: new { @class = "form-control", @style = "width:190px;" })
                            </div>
                        </div>
                        <div class="row" style="margin-top:10px;">
                            <div class="col-md-12">
                                <label class="control-label">备注</label><input name="Remark" type="text" class="form-control" />
                            </div>
                        </div>

                    </div>
                    @*<div class="row" style="margin-top:3px;">
                        <table class="table table-bordered table-hover table-responsive">
                            <thead>
                                <tr style="font-weight:bold;">
                                    <td>产品编号</td>
                                    <td>产品名称</td>
                                    <td>产品条码</td>
                                    <td>规格</td>
                                    <td>类别</td>
                                    <td>操作</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>产品编号1</td>
                                    <td>产品名称1</td>
                                    <td>产品条码1</td>
                                    <td>规格1</td>
                                    <td>类别1</td>
                                    <td><a href="#"><span style="color:red" class="glyphicon glyphicon-trash"></span></a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>*@

                </div>

                <div class="modal-footer">
                    <button id="Upbtn" type="button" class="btn btn-primary">确定</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">取消</button>
                </div>
            </div>
        </div>
    </div>

   <script type="text/javascript">
       var pageIndexValue = 1;
       var ztValue = 0;
       var ZhuanTai = null;
   
       //打开盘差单详细
       $("#PCD").click(function () {
           $("#myModal2").modal();
       })

       $(function () {
           //状态切换
           $("[name=sy]").click(function () {
               ztValue = 0;
           })
           $("[name=dsh]").click(function () {
               ztValue = 1;
           })
           $("[name=shtg]").click(function () {
               ztValue = 2;
           })
           $("[name=shsb]").click(function () {
               ztValue = 3;
           })
           $(".btn2").click(function () {
               BindData()
           })

           //加载数据
           BindData();
           $("#btnSY").click(function () {
               pageIndexValue = 1;
               BindData();
           })
           $("#btnSYY").click(function () {
               pageIndexValue = pageIndexValue - 1;
               BindData();
           })
           $("#btnGo").click(function () {
               pageIndexValue = parseInt($("#textPageIndex").val());
               BindData();
           })
           $("#btnXYY").click(function () {
               pageIndexValue = pageIndexValue + 1;
               BindData();
           })
           $("#WY").click(function () {
               pageIndexValue = 999999;
               BindData();
           })
           //模糊查询
           $("#btnadd").click(BindData);
           //修改
           $("#Upbtn").click(UpdateIneventory2);

       })

       //修改查看
       function UpdateIneventory() {
           $("#myModal").modal();
           $("#div2").show();
           $.ajax({
               url:"@Url.Action("QueryUpdateIneventory")",
               data: { Iid: ZhuanTai },
               dataType:"json",
               type:"get",
               success: function (UpResult) {
                   $.each(UpResult.UpIneventory, function (index, value) {
                       $("#Iid").val(value.Iid);
                       $("#CheckIds").val(value.CheckId);
                       $("[name=PreparedTime]").val(value.PreparedTime);
                       $("[name=Cps]").find("option:selected").text(value.Standby3);
                       $("[name=Lbs]").find("option:selected").text(value.Standby4);
                       $("[name=Remark]").val(value.Remark);
                       
                   })
               }
           })
       }
       //修改
       function UpdateIneventory2() {
           var CheckIdsValue = $("#CheckIds").val();
           var PreparedTimeValue = $("[name=PreparedTime]").val();
           var CpsValue = $("[name=Cps]").find("option:selected").text();
           var LbsValue = $("[name=Lbs]").find("option:selected").text();
           var RemarkValue = $("[name=Remark]").val();
          var IidValue= $("#Iid").val();
           $.ajax({
               url:"@Url.Action("UpdateIneventory")",
               data: { Iid: IidValue, CheckId: CheckIdsValue, PreparedTime: PreparedTimeValue, Standby3: CpsValue, Standby4: LbsValue, Remark: RemarkValue },
               dataType:"json",
               type:"post",
               success: function (UpResult) {
                   alert(UpResult.Msg);
                   BindData();
               }
           })
       }


       //加载数据方法
       function BindData() {
           var CheckType = null;
           var CheckAuditState = null;
           var CheckIdValue = $("[name=CheckId]").val();
           var StartValue = $("[name=Start]").val();
           var EndValue = $("[name=End]").val();
           $.ajax({
               url: "@Url.Action("GetIneventoryData")",
               data: { CheckId: CheckIdValue, PageIndex: pageIndexValue, Start: StartValue, End: EndValue, zt: ztValue },
           dataType: "json",
           type: "get",
           success: function (result) {
               $("#txtLabel").html("当前第" + result.PageIndex + "页 / 共计" + result.Count + " 页 共计" + result.PageCount + " 条");
               $("#textPageIndex").val(result.PageIndex);
               pageIndexValue = result.PageIndex;
               $("table tr:gt(0)").remove();
               $.each(result.IneventoryAction, function (index, value) {
                   ZhuanTai = value.Iid;
                   var str = "<tr>";
                   str += "<td><input type=\"checkbox\" /></td>";
                   str += "<td>" + value.CheckId + "</td>";
                   if (value.CheckType == 3) {
                       CheckType = "产品盘点";
                   }
                   str += "<td>" + CheckType + "</td>";
                   str+="<td>"+value.Standby3+"</td>";
                   if (value.CheckAuditState == 1) {
                       CheckAuditState = "待审核";
                   } else if (value.CheckAuditState == 2) {
                       CheckAuditState = "审核通过";
                   } else if (value.CheckAuditState == 3) {
                       CheckAuditState = "审核失败";
                   }
                   str += "<td>" + CheckAuditState + "</td>";
                   str += "<td>" + value.PreparedMan + "</td>";
                   str += "<td>" + value.CreationTime + "</td>";
                   if (value.CheckAuditState == 2) {
                       str += "<td><a onclick=\"UpdateIneventory()\"  href=\"# \"><span  class=\"glyphicon glyphicon-edit \"></span></a>&nbsp;&nbsp;&nbsp;<a onclick=\"deleteState()\" href=\"#\"><span style=\"color:red\" class=\"glyphicon glyphicon-trash\"></span></a>&nbsp;&nbsp;&nbsp;<a onclick=\"IneventoryStateUp2()\" href=\"#\"><span class=\"glyphicon glyphicon-thumbs-down\"></span></a></td>";
                   } else if (value.CheckAuditState == 3) {
                       str += "<td><a onclick=\"UpdateIneventory()\"  href=\"# \"><span  class=\"glyphicon glyphicon-edit \"></span></a>&nbsp;&nbsp;&nbsp;<a onclick=\"deleteState()\" href=\"#\"><span style=\"color:red\" class=\"glyphicon glyphicon-trash\"></span></a>&nbsp;&nbsp;&nbsp;<a onclick=\"IneventoryStateUp1()\" href=\"#\"><span  class=\"glyphicon glyphicon-thumbs-up\"></span></a></td>";
                   } else {
                       str += "<td><a onclick=\"UpdateIneventory()\"  href=\"# \"><span  class=\"glyphicon glyphicon-edit \"></span></a>&nbsp;&nbsp;&nbsp;<a onclick=\"deleteState()\" href=\"#\"><span style=\"color:red\" class=\"glyphicon glyphicon-trash\"></span></a>&nbsp;&nbsp;&nbsp;<a onclick=\"IneventoryStateUp1()\" href=\"#\"><span  class=\"glyphicon glyphicon-thumbs-up\"></span></a>&nbsp;&nbsp;&nbsp;<a onclick=\"IneventoryStateUp2()\" href=\"#\"><span class=\"glyphicon glyphicon-thumbs-down\"></span></a></td>";
                   }               
                   str += "</tr>";
                   $("table tbody").append(str);
               })
           }
       })
       }

       //删除
      function deleteState() {
            $.ajax({
                url: "@Url.Action("DeleteIneventory")",
                data: { Iid: ZhuanTai },
                dataType: "json",
                type: "post",
                success: function () {
                    if (confirm("确认删除吗？")) {
                        BindData();
                        alert("删除成功！");
                        return true;
                    } else {
                        return false;
                    }
                }
            })
      }
       //审核通过
       function IneventoryStateUp1() {
           $.ajax({
               url: "@Url.Action("UpdateMZ")",
               data: { Iid: ZhuanTai, CheckAuditStates: 2 },
           dataType: "json",
           type: "post",
           success: function () {
               if (confirm("确认审核通过吗？")) {
                   BindData();
                   alert("审核成功！");
                   return true;
               }
           }
       })
       }
       //审核不通过
       function IneventoryStateUp2() {
           $.ajax({
               url: "@Url.Action("UpdateMZ")",
               data: { Iid: ZhuanTai, CheckAuditStates: 3 },
           dataType: "json",
           type: "post",
           success: function () {
               if (confirm("确认审核不通过吗？")) {
                   BindData();
                   alert("审核成功！");
                   return true;
               }
           }
       })
       }

   </script>

</body>
</html>
